[variables]
NIXPACKS_SPA_OUTPUT_DIR = "dist"
NODE_VERSION = "22"
NPM_CONFIG_CACHE = "/tmp/.npm"

[phases.install]
cmds = ["npm ci --omit=dev --no-audit --no-fund --cache=/tmp/.npm"]

[phases.build]
cmds = [
  "npm config set cache /tmp/.npm --global",
  "rm -rf /tmp/.npm || true",
  "npm ci --include=dev --no-cache",
  "npm run build"
]

[start]
cmd = "node server.js"